<h2>{{title}}</h2>
@defer (on viewport) {
  <div class="initiative_tracker_container">
    <div class="tracker_button_container">
      <rad-button buttonLabel="Add Character" [onClickCallback]="addCharacter.bind(this)"></rad-button>
      <rad-button buttonLabel="Remove Character" [onClickCallback]="addCharacter.bind(this)"></rad-button>
    </div>
    <div class="character_profile_list">
      @for (c of characters; track c.id){
        <rad-character-profile [character]="c"></rad-character-profile>
      }
    </div>
  </div>
}
@placeholder {
  <p>placeholder</p>
}
@loading (minimum 2s) {
  <p>Loading because reasons...</p>
}

